
.debug-bordered {
    border: solid 1px red;

}


.centered {
    text-align: center;
}


.list-of-values { 
    display: inline-block;

}

.list-of-values li {
    text-align: right;
    font: 13px 'Arial';
}


.hor-list-of-buttons li {
    display: inline;
    margin: 3px;
    padding: 0px;
}

input[type="button"].small-button  {
    font: 14px 'Curier' 700;
    padding: 5px;
}


.two-lines                     { height: 100px; }
.three-lines                   { height: 160px; }
.four-lines                    { height: 220px; }

@media (max-height: 768px) {
    .two-lines                     { height: 80px; }
    .three-lines                   { height: 120px; }
    .four-lines                    { height: 160px; }
}



.img-placeholder {
    display: inline;
    background-image: url('http://placehold.it/100x100');
    width: 100px;
    height: 100px;
}

fieldset > div {
    margin-top: 20px;
    padding-left: 20px;
}

#modelFields > div {
    margin-top: 20px;
}