<div class="columns eleven four-lines" id="chat_messages">
</div>
<div class="columns four">
    <ul id="chat_room_participants">
            <li>Hlopez</li>
    </ul>
</div>
<div class="container">
    <div class="columns eleven">
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Dropdown
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!-- links -->
                </ul>
            </li>
        </ul>
        <input id="sendBtn" type="button" value="send">
        <input id="chatMessage" type="text">
    </div>
</div>