
<div>
    <h5 class="centered"><b id="health">-===</b> {{name}} <b id="manna">=====</b></h5>
    <ul class="list-of-values">
        <li><small>strength:</small>12</li>
        <li><small>inteligance:</small>5</li>
        <li><small>agility:</small>12</li>
        <li><small>dexterity:</small>12</li>
    </ul>
    <ul class="hor-list-of-buttons">
        <li><input class="small-button" type="button" value="inventory"></li>
        <li><input class="small-button" type="button" value="skills"></li>
        <li><input class="small-button" type="button" value="quests"></li>
    </ul>
</div>