<div class="row">
    <h2>Inventory</h2>

    <div class="row">
        <div class="span7">
            <table border="1">
                <tr>
                    <td>Left Sholder</td>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                </tr>
                <tr>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                    <td rowspan="2"><img  src="/images/characters/miniF2.png"></td>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                </tr>
                <tr>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>

                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                </tr>
                <tr>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                    <td><img  src="/images/items/76782533b4e66c3c150e2e3130282843.png"></td>
                </tr>


            </table>
            &nbsp;
        </div>
        <div class="span5">
            <h3>Item Info: Hamer of Gods</h3>
            <img  src="/images/items/76782533b4e66c3c150e2e3130282843.png" style="border: solid 1px black;"  alt="">
        </div>
    </div>
    <hr>
    <div class="row">
        <div id="bag" class="centered offset1 span10">

        </div>

    </div>

</div>