<h2>{{title}}</h2>
<div class="row">

    <div class="span8">
       <img class="debug-bordered" src="images/locations/mock_location.png" alt="">
    </div>

    <div class="span4">
        <div class="row" id="character_stats"></div>
        <hr>
        <div class="row span4" id="navigation">
            <ul>
                {{#paths}}
                <li><a href="#loc/{{action}}">{{title}}</a></li>
                {{/paths}}
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container" id="chat">

</div>
