<div class="span12">
    <div class="row">

        <p>
        <h1>UniGame Administration Dashboard</h1><i>divide et impera</i></p>
        <!-- Navigation -->

        <ul class="nav nav-pills">    
        {{#each navigation}}
            {{#if subs}}
            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">{{name}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {{#each subs}}
                    <li><a href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{else}}

            <li class="active">
                <a href="{{link}}">{{name}}</a>
            </li>

            {{/if}}
        {{/each}}
        </ul>
    <div class="container" id="_mgmt_panel">

    </div>


</div>
