<div class="form-horizontal">
    <fieldset>
        <legend>{{type}} "{{title}}" (id: {{resId}})</legend>
        {{#each fields}}
        <div class="control-group">
            <label class="control-label">{{name}}</label>

            <div class="controls">
                {{#if string}}
                <input name="{{name}}" type="text" class="input-xlarge" value="{{value}}">
                <!-- <p class="help-block">Supporting help text</p> -->
                {{/if}}

                {{#if integer}}
                <input name="{{name}}" type="text" class="input-xlarge" value="{{value}}">
                {{/if}}

                {{#if float}}
                <input name="{{name}}" type="text" class="input-xlarge" value="{{value}}">
                {{/if}}

                {{#if enum}}
                <select name="{{name}}">
                    <option></option>
                    {{#each consts}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{/if}}

                {{#if image}}
                <img style="cursor:pointer;" src="{{value}}" field="{{name}}"
                     id='{{name}}_img' class="img-placeholder" alt="">
                <input type="hidden" name="{{name}}" value="{{value}}">
                <div id="file-uploader" fieldname='{{name}}'>
                    <form action="resourceform.html"></form>
                    <noscript>
                        <p>Please enable JavaScript to use file uploader.</p>
                    </noscript>
                </div>
                {{/if}}

                {{#if ref}}
                <input name={{name}} value="{{value}}">
                <button field="{{name}}" url="{{url}}" class="btn refselect">select</button>
                {{/if}}

                {{#if multiref}}
                <input name={{name}} value="{{value}}">
                <button multi="true" field="{{name}}" url="{{url}}" class="btn refselect">select</button>
                {{/if}}

            </div>
        </div>
        {{/each}}
    </fieldset>

    <div class="btn-group">
        <button id="updateResourceBtn" class="btn">Update</button>
        <button id="copyResourceBtn" class="btn">Copy</button>
        <button id="deleteResourceBtn" class="btn">Delete</button>
    </div>

    <!-- Reference Select Dialog -->
    <div id="ref_select_dlg" class="modal hide fade">
        <div class="modal-header">
            <h3>Select Object Reference</h3>
        </div>
        <div class="modal-body centered">
            <table id="refs_select_tbl"></table>
        </div>


        <div class="modal-footer">
                <button id="selectObjectBtn" class="btn">Select</button>
                <button onclick="javascript:$('#ref_select_dlg').modal('hide')" class="btn">Cancel</button>
        </div>
    </div>

    <!-- Image Select Dialog -->
    <div id="img_select_dlg" class="modal hide fade">
        <div class="modal-header">
            <h3>Select Object Reference</h3>
        </div>
        <div class="modal-body centered">
            <img id='selected_img' class="img-placeholder" alt="">
            <hr>
            <table id="imgs_select_tbl"></table>
        </div>


        <div class="modal-footer">
            <button id="selectImgBtn" class="btn">Select</button>
            <button onclick="javascript:$('#img_select_dlg').modal('hide')" class="btn">Cancel</button>
        </div>
    </div>

</div>
