<div class="span12">
    <select id="shop_list"></select>
    <div id="shop_form"></div>

    <div class="btn-group" style="margin-top: 10px">
        <button id="newShopBtn" class="btn">New</button>
        <button id="delShopBtn" class="btn">Delete</button>
    </div>
    <hr>
    <div id="resource_form"></div>

    <hr>
    <table id="shop_items_collection_tbl"></table>
    <div id="shop_items_collection_pager"></div>

    <div class="btn-group" style="margin-top: 10px">
        <button id="newShopItemBtn" class="btn">New</button>
        <button id="delShopItemBtn" class="btn">Delete</button>
        <button id="editShopItemBtn" class="btn">Edit</button>
    </div>
</div>