
.debug-bordered {
    border: solid 1px red;

}


.centered {
    text-align: center;
}


.list-of-values { 
    display: inline-block;
    list-style: none;
}

.list-of-values li {
    text-align: right;
    font: 13px 'Arial';
}


.hor-list-of-buttons li {
    display: inline;
    margin: 3px;
    padding: 0px;
}

input[type="button"].small-button  {
    font: 14px 'Curier' 700;
    padding: 5px;
}


.two-lines                     { height: 100px; }
.three-lines                   { height: 160px; }
.four-lines                    { height: 220px; }

@media (max-height: 768px) {
    .two-lines                     { height: 80px; }
    .three-lines                   { height: 120px; }
    .four-lines                    { height: 160px; }
}



#health {
    font-family: monospace;
    color: #f00;
}

#manna {
    font-family: monospace;
    color: #00f;
}

#chatMessage {
    display: inline-block;
    width: 89%;
}

div.stat-points {
    display: inline;
}

.stat-points div {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('/images/add_point1.png');
}

div.stat-points-reset {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('/images/reset_points.png');
}

.stat-points div.stat-points-seleted-point {
    background: url('/images/add_point2.png');
}

div.stat-points-point {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('/images/stat_point.png');
}


#bag p {
    padding: 0;
    margin: 0;
}

div.bag_cell {
    display: inline-block;
    height: 62px;
    width: 62px;
    border: solid 1px black;
}
